:root {
    --primary-color: #FFC300;
    --background-color: #F9F9F9;
    --darkgray-color: #444444;
    --lightgray-color: #DDDDDD;
    --white-color: #FFFFFF;
}

::-webkit-scrollbar {
    display: none;
}

body {
    background: url(../images/patten01.png);
}

.inner {
    max-width: 1680px;
    margin: 0 auto;
    width: 100%;
}

.table {
    margin: 0 0 40px 0;
}

.desc_table {
    border-top: 2px solid var(--primary-color);
    width: 100%;
}

.desc_table th {
    border-right: 1px solid var(--primary-color);
    min-width: 104px;
}

.desc_table th,
.desc_table td {
    padding: 0 16px;
    text-align: left;
    font-weight: 400;
    height: 40px;
    border-bottom: 1px solid var(--lightgray-color);
}

.section {
    height: 100vh;
    overflow: hidden;
}

.section h2 {
    margin: 0 0 16px 0;
    font-size: 60px;
    font-weight: 900;
}

.line {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 0;
    width: 0;
    height: 1px;
    background: rgba(0, 0, 0, 0.3);
}

/* 헤더 - - - - - - - -- - -  - - - */
#header {}

#header .inner {
    position: fixed;
    top: 80px;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    max-width: 1680px;
}

#header .inner h1 {}

.gnb {
    position: fixed;
    top: -100px;
    right: 200px;
    z-index: 999;
    transition: 0.5s;
}

.gnb.on {
    top: 85px;
}

.gnb ul {
    display: flex;
    gap: 30px;
}

.gnb ul li {}

.gnb ul li.on::after {}

.gnb ul li a {
    display: block;
}

.hamburger {
    padding: 0 !important;
}

.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before {
    background-color: var(--darkgray-color) !important;
}

/* 메인비주얼 ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
.mainVisal {
    position: relative;
}

.mainVisal .tit {
    position: absolute;
    bottom: 150px;
    left: calc((100% - 1680px) / 2);
    right: calc((100% - 1680px) / 2);
}

.mainVisal .tit h2 {
    display: block;
    margin: 0 0 40px 0;
    transform: rotateX(90deg) skew(-0.1deg);
}

.mainVisal .tit h2 span {
    font-size: 12vw;
    font-weight: 200;
}

.mainVisal .tit h2 span:last-child {
    font-size: 16vw;
    font-weight: 600;
}

.mainVisal .tit p {
    font-size: 6vw;
    opacity: 0;
}

.mainVisal .scroll_btn {
    position: absolute;
    bottom: 80px;
    right: calc((100% - 1680px) / 2);
    z-index: 999;
    opacity: 0;
}

.mainVisal .scroll_btn .icon {
    position: relative;
    font-size: 40px;
    line-height: 30px;
    color: var(--darkgray-color);
}

.mainVisal .scroll_btn .icon::after {
    content: "\e5cf";
    position: absolute;
    top: 0;
    left: 0;
    animation: scroll02 infinite 2s;
}

.mainVisal .scroll_btn .icon::before {
    content: "\e5cf";
    position: absolute;
    top: 0;
    left: 0;
    animation: scroll03 infinite 2s;
}

@keyframes scroll01 {
    0% {
        bottom: 150px;
    }

    50% {
        bottom: 120px;
    }

    10% {
        bottom: 150px;
    }
}

@keyframes scroll02 {
    0% {
        top: 0;
    }

    50% {
        top: 50px;
    }

    10% {
        top: 0;
    }
}

@keyframes scroll03 {
    0% {
        top: 0;
    }

    50% {
        top: 90px;
    }

    10% {
        top: 0;
    }
}

/* .portfolioㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
.portfolio.section {
    position: relative;
    height: auto;
}

.portfolio .slide_wrap {
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}

.portfolio .slide_wrap .slide:nth-child(even) {}

.portfolio .slide .inner {
    position: relative;
    display: flex;
    gap: 150px;
    justify-content: space-between;

    align-items: center;
    height: 100vh;
}

.portfolio .slide .inner .desc {
    flex: 0 0 450px;
}

.portfolio .slide .inner .desc h3 {
    margin: 0 0 16px 0;
    font-size: 40px;
    font-weight: 200;
    text-transform: uppercase;
}

.portfolio .slide .inner .desc h3 span {
    display: block;
    font-size: 60px;
    font-weight: 600;
    line-height: 70px;
}

.portfolio .slide .inner .desc p {
    margin: 0 0 32px 0;
    font-weight: 500;
}

.portfolio .slide .inner .desc .desc_table td span {
    display: inline-block;
    font-size: 0;
    vertical-align: middle;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.portfolio .slide .inner .desc .link {
    display: flex;
    gap: 10px;
    text-align: center;
}

.portfolio .slide .inner .desc .link a {
    flex: 1;
    border-radius: 8px;
    padding: 12px 32px;
    background: var(--primary-color);
}

.portfolio .slide .inner .mokup {
    position: relative;
    display: flex;
}

.portfolio .slide .inner .mokup_M {
    position: absolute;
    bottom: -50px;
    left: -180px;
    z-index: 1;
    width: 300px;
    height: 600px;
    border: 1px solid #666;
    border-radius: 30px;
    overflow: hidden;
    cursor: n-resize;
}

.portfolio .slide .inner .mokup_M::before {
    content: "";
    position: absolute;
    inset: 0 0 0 0;
    z-index: -1;
    border-radius: 30px;
    transition: 6s;
}

.portfolio .slide01 .inner .mokup_M::before {
    background: url(../images/pf_ko-and-ping_m_full.png)no-repeat top center/cover;
}

.portfolio .slide02 .inner .mokup_M::before {
    background: url(../images/pf_bpt_m_full.png)no-repeat top center/cover;
}

.portfolio .slide03 .inner .mokup_M::before {
    background: url(../images/pf_kps_m_full.png)no-repeat top center/cover;
}

.portfolio .slide04 .inner .mokup_M::before {
    background: url(../images/pf_brother_m_full.png)no-repeat top center/cover;
}

.portfolio .slide05 .inner .mokup_M::before {
    background: url(../images/pf_sk_hynix_m_full.png)no-repeat top center/cover;
}

.portfolio .slide .inner .mokup_M:hover::before {
    background-position: bottom center;
}

.portfolio .slide .inner .mokup_p {

    width: 900px;
    height: 450px;
    overflow: hidden;
    border: 1px solid #666;
    border-radius: 15px;
}

.portfolio .slide .inner .mokup_p img {
    width: 100%;
    height: 100%;
}

/* .trainning ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ*/
.trainning {
    display: flex;
    align-items: center;
}

.trainning .desc h2 {
    margin: 0 0 32px 0;
    text-align: center;
}

.trainning_wrap {}

.tab_menu {
    display: flex;
    justify-content: center;
}

.tab_menu li {
    text-align: center;
}

.tab_menu li button {
    padding: 0 15px;
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
    font-size: 20px;
    line-height: 50px;
    transition: 0.5s;

    color: var(--darkgray-color);
}

.tab_menu li.on button {
    background: var(--darkgray-color);
    color: var(--white-color);
}

.tab_con {
    display: flex;
    align-items: center;
}

.sub_con {
    display: none;
}

.sub_con.on {
    display: flex;
    padding: 130px 50px;
    gap: 50px;
    justify-content: center;
    background: var(--darkgray-color);
}

.tab_con .sub_con .itm {
    flex: 0 0 calc((100% / 3) - 50px);
    position: relative;
    box-shadow: 10px 10px 20px var(--darkgray-color);
    border: 2px solid #000;
    border-radius: 15px;
    overflow: hidden;
}

.tab_con .sub_con .itm .txt_box {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    padding: 0 30px;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background: rgba(0, 0, 0, 0.8);
    color: var(--white-color);
}

/* .profile ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ*/

.profile {
    display: flex;
    align-items: center;
    height: calc(100vh - 46px);

}

.profile .inner {
    display: flex;
    gap: 100px;
    align-items: center;
    justify-content: center;
}

.profile .inner .desc p {
    margin: 0 0 32px 0;
    line-height: 24px;
    color: var(--darkgray-color);
}

.profile .inner .desc p span {
    color: var(--primary-color);
}

.profile .inner .img_box {
    transform: scale(0.8);
}

/* .footer ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ*/

.footer {
    padding: 20px 0 10px 0;
    text-align: center;
}

.totop {
    position: fixed;
    bottom: 40px;
    right: 60px;
    padding: 15px;
    z-index: 999;
    border: none;
    background: transparent;
}

.totop span {
    font-size: 40px;
    font-weight: 900;
    color: var(--white-color);
}